*{
	/* border: 1px solid #000; */
    font-family: 'Microsoft JhengHei', sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Layout */
/* .container{
	height: 100%;
	width: 1220px;
	display: block;
	margin: 0 auto;
} */

/* Utility */
/* .clearfix:after{
	content: '';
	display: block;
	clear: both;
} */

/* navbar */
.header{
    background-color: #ECECEC;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    width: 1220px;
    height: 40px;
    padding: 0;

    justify-content: space-between;
}
.navbar .nav{
    display: flex;
    font-size: 13px;
    line-height: 40px;
    color: #000;
}
.navbar .nav .nav-item .nav-link:hover,.navbar .nav .logo-link:hover{
    color: #E4057F;
}
.navbar .nav .logo-item{
    padding-left: 34px;
    padding-right: 10px;
}
.navbar .logo-item::before{
    content: '';
    display: inline-block;
    height: 22px;
    width: 22px;
	background-image: url('../image/home.svg');
	background-size: contain;
	background-repeat: no-repeat;

    position: absolute;
    top: 8px;
    left: 0;
}
.navbar .nav-link{
    padding: 0 10px;
}
.navbar .nav-item:before,.nav-btn:before{
    content: '';
    display: inline-block;
    /* margin: 0px;
    padding: 0px; */
    height: 8px;
    width: 1px;
    background: #000;
}
.navbar .nav-item-lineless:before{
    content: '';
    display: none;
}
.navbar .nav-btn .nav-link{
    margin-left: 6px;
}
.navbar .nav-btn .nav-link{
    background-color: #fff;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    padding: 0 8px;
}
.navbar .nav-btn .nav-link{
    margin-left: 6px;
}
.main{
    padding-top: 100px;
}
.main .demo-img{
    width: 1440px;
}