html,body{
	min-height: 100%;
}
.wrapper {
    height: 100%;
    background: linear-gradient(to bottom,  #e4f5fc 0%,#9fd8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 40px;
}
.card {
    width: 1200px;
    height: 785px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
	margin-left: auto;
	margin-right: auto;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.card:hover{
	box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
}
.card .img-container {
	display: block;
	width: 50%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}
.card .img-container::after{
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;

    background-image: url('../image/share\ 1.svg');
    width: 34px;
    height: 34px;
    background-position: center;
	background-size: contain;
    background-repeat: no-repeat;

    transition: 0.3s;
}
.card .img-container .image{
    position: absolute;
    top: 0;
    left: 0;

    background-image: url('../image/product1.png');
	width: 100%;
	height: 100%;
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.card .img-container .image:before{
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;

    background-image: url('../image/Star\ 1.svg');
    width: 34px;
    height: 34px;
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

    transition: 0.3s;
}
.card .img-container .image:hover:before,.card .img-container:hover:after{
    width: 40x;
    height: 40px;
}
.card .info {
	display: inline-block;
	vertical-align: top;
    padding: 40px;
    width: 50%;
    height: 100%;
}
.card .info .product-name {
    font-size: 86px;
    font-weight: 700;
    line-height: 1.5;
}
.card .info .tag {
    font-size: 26px;
    font-weight: 600;
    padding-bottom:80px ;
}
.card .info .spec, .card .info .des {
    color: #a6a6a6;
    font-size: 24px;
    padding-bottom: 80px;
}
.card .info .spec .tag1 {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card .info .spec .tag1:after {
    content: '';
	display: inline;
	width: 0;
	height: 4px;
	background-color: #9fd8ef;
	position: absolute;
	left: 0;
    bottom: 0;
}
.card .info .spec .tag1:hover:after {
    content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: #9fd8ef;
	position: absolute;
	left: 0;
    bottom: 0;
    transition: all 0.5s;
}
.card .info .text {
    color: #A1C8DF;
}
.card .info .des {
    padding-bottom: 20px;
    line-height: 1.5;
}
.card .link {
    color: #C3C6CE;
    text-decoration: none;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.card .link:hover {
    font-size: 20px;
    color: #a5b0d0;
    
	border-bottom: 8px solid #A1C8DF;
	transform: translate(0,-8px);
}
.card .link:active {
    color: #A1C8DF;
}