@charset "utf-8";

/* 文件開頭說明 */
/*
 * Single Page
 * Copyright 2024
 * Auther: Shana Lin
 * Licensed
*/
/* -------------------------- *\
	Content
\* -------------------------- */
/* 
 * Contrrent .............. You are reading it!t
 * Globel .............. Set common styles
 * Layout .............. Set grid
 * Components .............. Set components styles
 * Pages .............. Set different page styles
 * Utility .............. Set utility tools
 */
/* -------------------------- *\
	Globel
\* -------------------------- */
*{
    box-sizing: border-box;
    position: relative;
}
html,body{
	font-family: 'Avenir', 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #959595;
}

/*測試用*/
/* .container, .row, .logo, .nav-item, .kv, .img, .product-item, .icon, .menu-toggle{
	border: 1px solid blue;
} */

/* -------------------------- *\
	Layout
\* -------------------------- */
.container{
	max-width: 1140px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col{
	display: flex;
    flex-direction: column;
}

.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12,
.col-md-6,.col-md-4,.col-md-3,.col-md-12,
.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-12{
	display: flex;
    flex-direction: column;
}
.col-lg-3{
	width: 25%;
}
.col-lg-4{
	width: 33.3333333%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-12{
	width: 100%;
}
@media screen and (max-width: 768px){
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.3333333%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media screen and (max-width: 540px){
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.3333333%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-12{
		width: 100%;
	}
}

.center{
	display: flex;
    justify-content: center;
}
.align-center{
	display: flex;
	align-items: center;
}
@media screen and (max-width: 768px){
	.container{
		max-width: 690px;
	}
}


/* -------------------------- *\
	Components
\* -------------------------- */
/* nav */
.nav,.nav2{
	display: flex;
}

@media screen and (max-width: 768px){
	.nav,.nav2{
		align-items: center;
	}
}

/* navber */
.navbar{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.nav-group{
	border-bottom: 1px solid #E4E3E3;
	width: 100%;
}
.navbar .logo{
	display: flex;
	background-image: url('../image/muayiktea/logo.png');
	height: 68px;
	width: 80px;
	margin: 26px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar .logo h1{
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}
.nav .nav-item,.nav2 .nav-item{
	padding: 22px;
	align-content: center;
}
.navbar .nav .nav-link,.navbar .nav2 .nav-link{
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #3E3E3E;
}
.navbar .nav .nav-link:hover,.navbar .nav2 .nav-link:hover{
	color: #78A0AA;
}
.navbar .nav2{
	position: absolute;
	top: 0;
	right: 40px;
}
.navbar .nav2 .icon{
	display: block;
	height: 24px;
	width: 24px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 1200px){
	.header .navbar{
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
        z-index: 499;
		background-color: #fff;
	}
	.nav-group{
		width: unset;
	}
	.navbar .nav2{
		right: 20px;
		position: unset;
	}
	.navbar .logo {
		height: 54.4px;
		width: 64px;
		margin: 20px;
	}
}
@media screen and (max-width: 768px){
	.header .navbar .nav, .navbar .nav2{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #c8b48c;
		z-index: 500;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}
	#popup-menu:target{
		opacity: 1;
		visibility: visible;
	}
	.navbar .nav .nav-link{
		text-align: center;
		padding: 16px;
	}
	.navbar .logo {
		margin: 4px 8px 4px 20px;
	}
}
/* menu-toggle */
.navbar .menu-toggle{
	width: 48px;
	height: 48px;
	float: right;
	margin: 8px 20px;
	display: none;
}
@media screen and (max-width: 768px){
	.navbar .menu-toggle{
		display: inline-block;
	}
}
.navbar .menu-toggle span{
	display: block;
	width: 32px;
	height: 2px;
	background-color: #c8b48c;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.navbar .menu-toggle span:nth-child(1){
	top: 14px;
}
.navbar .menu-toggle span:nth-child(2){
	top: 24px;
}
.navbar .menu-toggle span:nth-child(3){
	top: 34px;
}

/* close-btn */
.navbar .close-btn{
	display: none;
	width: 48px;
	height: 48px;
	position: absolute;
	right: 16px;
	top: 8px;
}
@media screen and (max-width: 768px){
	.navbar .close-btn{
		display: block;
	}
}
.navbar .close-btn span{
	width: 40px;
	height: 2px;
	position: absolute;
	background-color: #000;
	top: 50%;
	left: 50%;
}
.navbar .close-btn span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.navbar .close-btn span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}

/* kv */
.kv{
	background-image: url('../image/muayiktea/kv.webp');
	height: 550px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 100px;
}
@media screen and (max-width: 1200px) {
	.kv{
		height: 80svh;
		margin-bottom: 40px;
	}
}

/* hero */
.hero{
	padding: 40px 0;
}

.hero .desc{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	padding: 40px 0;
	text-align: center;
}

.hero .img-container{
	width: 70%;
}

.hero .img-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 30%;
}

.hero .img-container .img{
	background-image: url('../image/muayiktea/hero1.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px){
	.hero{
		padding: 20px;
	}
	.hero .desc{
		padding: 16px 0;
	}
	.hero .img-container{
		width: 100%;
	}
}

/* slogan */
.slogan{
	padding: 40px 0;
	display: flex;
	gap: 80px;
}

.slogan .img-container{
	width: 390px;
	height: 290px;
}

.slogan .img-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 74%;
}

.slogan .img{
	background-image: url('../image/muayiktea/img1.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slogan .text{
	padding: 30px 0;
	font-size: 16px;
	line-height: 30px;

	display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 768px){
	.slogan{
		padding: 20px 0;
		gap: 40px;
		flex-direction: column;
		align-items: center;
	}
	.slogan .img-container{
		width: 100%;
	}
	.slogan .text {
		padding: 0 20px;
		gap: 16px;
	}
}


/* product */
.hero .title,.hero .subtitle{
	text-align: center;
}

.hero .title{
	font-size: 14px;
	line-height: 25px;
	font-weight: 500;
	color: #78A0AA;
}
@media screen and (max-width: 768px){
	.hero .title{
		padding-top: 16px;
	}
}

.hero .subtitle{
	font-size: 23px;
	line-height: 29px;
}

.products{
	justify-content: space-between;
	padding-top: 30px;
}

.products .outter{
	padding: 10px;
}

.products .product-item{
	width: 100%;
	overflow: hidden;
}

.products .product-item::before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 72%;
}

.products .product-item .img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.products .product-item .mask-dark{
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.products .product-item:hover .img{
	transform: scale(1.2, 1.2);
	transition: 0.3s;
}

.products .product-item .product-name{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	line-height: 48px;
	font-weight: 400;
	color: #fff;
	white-space: nowrap;
}

.form{
	font-size: 16px;
	margin-top: 24px;
}
.form .input{
	color: #959595;
	line-height: 40px;
	width: 232px;
	border: 1px solid #c8b48c;
	padding-left: 16px;
}
.form .btn{
	color: #fff;
	line-height: 40px;
	width: 76px;
	background-color: #c8b48c;
}

@media screen and (max-width: 768px){
	.products {
		padding: 20px 0;
	}
	.products .product-item::before{
		padding-top: 70%;
	}
}
@media screen and (max-width: 540px){
	.products {
		padding: 0;
	}
	.products .outter{
		padding: 20px 0 0 0;
	}
}

/* footer */
.footer .navbar{
	align-items: center;
}
.footer .navbar .nav-group{
	border-bottom: 0px;
}
.footer .navbar .logo{
	margin: 74px 0 0;
}
.footer .navbar .nav{
	padding: 40px 0;
	gap: 60px;
}
.footer .nav .title{
	font-weight: 700;
}
.footer .nav .nav-link{
	font-size: 14px;
}
.privacy{
	border-top: 1px solid rgb(109 125 139);
	width: 100%;
}
.privacy-group{
	display: flex;
	justify-content: space-between;
	margin: 24px 100px 48px;
}
.privacy-group .privacy-item{
	display: flex;
	align-items: center;
}
.privacy .right{
	font-size: 12px;
	padding-right: 24px;
}
.privacy .link{
	text-decoration: underline;
}
.privacy .link:hover{
	color: #78A0AA;
}
.privacy .follow{
	font-size: 16px;
	padding-right: 24px;
}
.privacy-group .social{
	display: flex;
}
.privacy .social .icon{
	display: block;
	height: 24px;
	width: 24px;
	margin-right: 22px;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 1200px){
	.footer .navbar .nav{
		padding: 40px 20px;
	}
	.footer .navbar .logo{
		margin: 20px;
	}
}
@media screen and (max-width: 768px){
	.footer .navbar .nav{
		padding: 40px 60px;
		align-items: start;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px 0;
	}
	.footer .navbar .logo{
		margin: 40px 20px 8px;
	}
	.footer .nav .nav-item{
		margin: 0 8px;
	}
	.footer .nav .nav-item .title{
		padding-bottom: 8px;
	}
	.footer .nav .nav-item, .footer .navbar .nav-link{
		padding: 0;
		text-align: center;
	}
	.privacy-group{
		margin: 20px 40px 40px;
		flex-direction: column-reverse;
	}
	.privacy-group .privacy-item{
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 20px;
	}
	.privacy .follow, .privacy .right{
		padding-bottom: 8px;
	}
}

/* -------------------------- *\
	Pages
\* -------------------------- */
/* homepage */
.homepage .navbar .btn{

}

/* about */
.about .navbar .btn{

}


/* -------------------------- *\
	Utility
\* -------------------------- */
.lg-hidden{
	display: none;
}
@media screen and (max-width: 768px){
	.lg-hidden{
		display: block;
	}
	.lg-display{
		display: none;
	}
}

/* 作業：完成更複雜的格線，並抓出你的版型的格線系統 */
/* xl -(1200px)- lg -(768px)- md -(540px)- sm -(375)- xs */
/* type your setting here. */